
<div class="conteiner">
  <div class="row">
      <div class="col-md-5 col-sm-5">
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <h2 class="text-center">Log in! </h2>
          <br />
          <div class="field">
            <label class="sr-only" for="name">Email</label>
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email', id: "log_inp1" %>
          </div>

            <br />

          <div class="field">
            <label class="sr-only" for="name">Password</label>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password', id: "log_inp2" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="checkbox">
              <label>
                  <%= f.check_box :remember_me, type: "checkbox" %> Remember me
              </label>
            </div>
          <% end -%>

            <br />

          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-primary btn-md btn-block', id: "btn_log" %>
          </div>

        <% end %>

        <br />

        <%= render "devise/shared/links" %>
       
          
    
    </div>

    <div class="col-md-2 col-sm-2 col-xs-12">

    </div>
  </div>
</div>


